Library
Temp
Obj/
UnityGenerated/
ProjectSettings/
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
*.svd
*.suo
*.sln
*.apk
*.meta
*.user
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
